@import "src/views/styles/_globals.scss";

.font_size_normal {
    font-size: $font-size-medium;
}
.font_size_big {
    font-size: $font-size-large;
}
.font_size_small {
    font-size: $font-size-small;
}

.color_primary {
    color: $color-primary;
}
.color_secondary {
    color: $color-secondary;
}
