@import "src/views/styles/_globals.scss";

.header_wrapper{
    background-color: $color-primary;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user_icon_wrapper{
    width:30px;
    height: 30px;
    position: relative;
    background-color: $color-secondary;
    border-radius: 5px;
}
.actions_wrapper{
    display:flex;
}