@import "src/views/styles/_globals.scss";

.button {
    text-transform: uppercase;
    margin-top: 0.75rem;
    outline: none;
    border: none;
    height: 34px;
    width: 130px;
    background-color: $color-secondary;
    color: $color-primary;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.9;
    transition: all 1s;
    border-radius: 17px;
    &:hover {
        transform: scale(1.05) translateY(-3px);
        opacity: 1;
        box-shadow: 0px 6px 7px -5px black;
    }
}
